---
import Layout from '../../layouts/Layout.astro'
import { client } from '../../lib/newt'
import type { Product } from '../../lib/newt'

console.log(Astro.params.slug)
const product = await client.getFirstContent<Product>({
  appUid: 'products',
  modelUid: 'category',
  query: {
    categoryName: Astro.params.slug
  }
})
---

<Layout title={`${product?.categoryName}の詳細ページです` || ''}>
  <h1>{product?.categoryName}</h1>
</Layout>