---
import Layout from '../layouts/Layout.astro';
import { client } from '../lib/newt';
import type { Product } from '../lib/newt';

const { items: products } = await client.getContents<Product>({
	appUid: 'products',
  modelUid: 'category',
  query: {
		order: ['-_sys.customOrder']
  },
})
---

<Layout title="Welcome to Astro.">
	<main>
		<ul>
			{
				products.map((product) => {
					return (
						<li>
							<a href={`/product/${product.categoryName}`}>
								{product.categoryName}
							</a>
						</li>
					)
				})
			}
		</ul>
	</main>
</Layout>

<style>
</style>