---
import Layout from '../layouts/Layout.astro';
import { client } from '../lib/newt';
import type { Product } from '../lib/newt';

const { items: products } = await client.getContents<Product>({
	appUid: 'products',
  modelUid: 'category',
  query: {
    select: ['categoryName'],
		order: ['-_sys.customOrder']
  },
})
console.log(products)
---

<Layout title="Welcome to Astro.">
	<main>
		<ul>
			{
				products.map((product) => {
					return (
						<li>
							{product.categoryName}
						</li>
					)
				})
			}
		</ul>
	</main>
</Layout>

<style>
</style>