<!-- ---
import Layout from '../../layouts/Layout.astro';
import { client } from '../../lib/newt';
import type { Product } from '../../lib/newt';

const article = await client.getContents<Product>({
  appUid: 'products',
  modelUid: 'category',
  // query: {
  //   slug: Astro.params.slug
  // }
})
console.log(article)
---

<Layout title=''>
  <h1>{article.categoryName}</h1>
</Layout> -->